<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CUSTOM CS -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- VUETIFY 
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"> -->

    <!-- VUEX -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    <script src="https://unpkg.com/vuex"></script>

    <!-- AXIOS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- MOMENT 
    <script src="moment.js"></script>
    <script>
        moment().format();
    </script> -->

    <title>Discover Movies!</title>
</head>
<body>

    <main class="container-fluid px-sm-5" id="app">
        
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h1 class="uppercase my-3 col-12 text-center">Discover Movies</h1>
                <div class="input-group mb-3">
                    <input type="text" v-model="searchString" class="form-control" placeholder="Title">
                </div>
                <div class="input-group mb-3">
                    <input type="text" v-model="releaseYear" class="form-control" placeholder="Year of Release">
                </div>
                <div class="input-group mb-3">
                    <input type="text" v-model="minRating" class="form-control" placeholder="Minimum Rating (0 - 10)">
                </div>
                <!-- <div class="input-group mb-3">
                    <input type="text" v-model="maxRating" class="form-control" placeholder="Maximum Rating (0 - 10)"> 
                </div> -->
                <div class="input-group mb-3">
                    <input type="text" v-model="genre" class="form-control" placeholder="Genre"> 
                </div>
                <div class="input-group mb-3">
                    <select type="text" v-model="sortBy" class="form-control">
                        <option value="" disabled>Select</option>
                        <option value="popularity.desc">Popularity</option>
                        <option value="release_date.desc">Release date (most recent first)</option>
                        <option value="revenue.desc">Revenue</option>
                        <option value="vote_average.desc">Average Rating</option>
                    </select>
                </div>
                <button v-on:click="getData()" class="btn btn-primary">Search</button>
            </div>
        </div>
            
        <!-- TEST TO SEE IF THE V-MODELS WORK -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 w-100 text-right">
                <p v-if="results" class="mx-auto">Total results: {{ results.total_results }}</p>
            </div>
        </div>



        <div class="row justify-content-center mx-1">
            <div class="col-12 col-md-10 col-lg-8 result-item mx-2 py-3 px-4 my-3">
                <h3>movie_title (year)</h3>
                <p>Rating</p>
                <p>Description...</p>
            </div>
        </div>

    </main>









<!-- ********************************* -->

    <div id="app-1">
        <p>{{ message }}</p>
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <script src="main.js"></script>
    <script src="genres.js"></script>
    
</body>
</html>