<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>

    <!-- VUETIFY -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <!-- VUEX -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    <script src="https://unpkg.com/vuex"></script>

    <!-- AXIOS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- MOMENT 
    <script src="moment.js"></script>
    <script>
        moment().format();
    </script>  -->

    <!-- CUSTOM CS -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Discover Movies!</title>
</head>
<body>

    <v-app id="app">
    <v-content class="my-4 mx-4">

        <v-row justify="center" >
            <v-col cols="12" md="10" lg="8">
                <h1 class="uppercase text-center main-heading">Discover Movies</h1>
            </v-col>
        </v-row>

        <p class="subheading text-center">Search for movies by title or by year, genre and popularity!</p>

        <v-row justify="center">
            <v-col cols="12" md="10" lg="8">
                <v-tabs centered grow color="indigo" slider-color="indigo">
                    <v-tab href="#search">
                    Search by title
                    </v-tab>
                    <v-tab href="#discover">
                    Search by details
                    </v-tab>

                    <v-tab-item id="search" class="my-5">
                        <v-input>
                            <v-text-field type="text" v-model="query" label="Title" name="title" @keyup.enter="fetchData(1, 'search')"></v-text-field>
                        </v-input>
                        <v-col cols="12" class="my-3 text-center">
                            <v-btn @click="fetchData(1, 'search')" min-width="30%" x-large class="btn-search py-2 px-8 elevation-8 uppercase">Search</v-btn>
                        </v-col>
                    </v-tab-item>

                    <v-tab-item id="discover" class="my-5">
                        <v-form class="mb-3">
                            <v-text-field type="text" v-model="releaseYear" class="mb-3" label="Year of Release" color="indigo" pattern="\d{4}" maxlength="4" @keyup.enter="fetchData(1, 'discover')"></v-text-field>
                            <v-text-field type="text" v-model="minRating" class="mb-3" label="Minimum Rating (0 - 10)" color="indigo" pattern="\d" @keyup.enter="fetchData(1, 'discover')"></v-text-field>
                            <v-text-field type="text" v-model="genre" class="mb-3" label="Genre" color="indigo" @keyup.enter="fetchData(1, 'discover')"></v-text-field>
                            <v-select type="text" v-model="sortBy" class="mb-3" :items="sortByMethods" item-text="name" item-value="value" label="Sort by" color="indigo" @keyup.enter="fetchData(1, 'discover')"></v-select>
                        </v-form>
                        <div class="col-12 my-3 text-center">
                            <v-btn @click="fetchData(1, 'discover')" min-width="30%" x-large class="btn-search py-2 px-8 elevation-8 uppercase">Search</v-btn>
                        </div>
                    </v-tab-item>

                </v-tabs>
            </v-col>
        </v-row>
        
         
        <div id="result-list">

            <v-row v-if="totalResults" justify="center">
                <v-col cols="12" md="10" lg="8">
                    <p>{{ totalResults }} results</p>
                </v-cols> 
            </v-row>

            <div v-else-if="queried" class="text-center">
                <p class="no-results-text">There were no results for this query :(</p>
            </div>

            <movie-item
            v-for="item in results"
            v-bind:poster_path="item.poster_path"
            v-bind:title="item.title"
            v-bind:release_date="item.release_date"
            v-bind:vote_average="item.vote_average"
            v-bind:overview="item.overview"
            ></movie-item>

        </div>

        <v-row v-if="results" justify="center">
            <v-col cols="12" md="10" lg="8" class="text-center">
                <v-btn v-if="page > 1">Previous</v-btn>
                <v-btn v-if="resultPages > page">Next</v-btn>
            </v-col>
        </v-row>
 
    </v-content>
    </v-app>

    <script type="module" src="components.js"></script>
    <script type="module" src="main.js"></script>
    <script src="genres.js"></script>
    <script src="getGenreID.js"></script>
    <script src="replaceSpacesWithPlusses.js"></script>
    <script src="replaceCommasWithDots.js"></script>
    <script type="module" src="store.js"></script>
    
</body>
</html>