<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CUSTOM CS -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- VUETIFY 
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"> -->

    <!-- VUEX -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    <script src="https://unpkg.com/vuex"></script>

    <!-- AXIOS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- MOMENT 
    <script src="moment.js"></script>
    <script>
        moment().format();
    </script> -->

    <title>Discover Movies!</title>
</head>
<body>

    <div class="container-fluid px-5" id="app">
        
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="uppercase my-3 col-12 text-center">Discover Movies</h1>
                <div class="input-group mb-3">
                    <input type="text" v-model="searchString" class="form-control" placeholder="Title">
                </div>
                <div class="input-group mb-3">
                    <input type="text" v-model="year" class="form-control" placeholder="Year of release">
                </div>
                <div class="input-group mb-3">
                    <input type="text" v-model="minrate" class="form-control" placeholder="Minimum Rating (0 - 10)">
                </div>
                <div class="input-group mb-3">
                    <input type="text" v-model="maxrate" class="form-control" placeholder="Maximum Rating (0 - 10)"> 
                </div>
                <div class="input-group mb-3">
                    <input type="text" v-model="genre" class="form-control" placeholder="Genre"> 
                </div>
                <button onclick="fetchDataFromTMDB" class="btn btn-primary">Search</button>
            </div>
            
            <!-- TEST TO SEE IF THE V-MODELS WORK -->
            <p class="mx-auto">Title: {{ searchString }}</p>
            <p class="mx-auto">Year: {{ year }}</p>
            <p class="mx-auto">Min Rating: {{ minrate }}</p>
            <p class="mx-auto">Max Rating: {{ maxrate }}</p>
            <p class="mx-auto">Genre: {{ genre }}</p>

        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 result-item py-3 px-4 my-3">
                <h3>movie_title (year)</h3>
                <p>Rating</p>
                <p>Description...</p>
            </div>
        </div>

    </div>









<!-- ********************************* -->

    <div id="app-1">
        <p>{{ message }}</p>
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

        


    <div id="app-7">
        <ol>
            <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>


    <script src="main.js"></script>
    
</body>
</html>